@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}


body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0; /* ลบขอบด้านนอก */
    padding: 0; /* ลบระยะห่างภายใน */
    width: 100vw; /* จำกัดความกว้างให้ไม่เกินหน้าจอ */
    height: 100vh; /* จำกัดความสูงให้เต็มหน้าจอ */
    overflow-x: hidden; /* ซ่อนการเลื่อนแนวนอน */
}
.bockvideo{
  background-color: rgba(0, 0, 0, 0.514);
  z-index: -1;
  position: fixed;
  padding: 500vw;
  top: 0;
}
.video-background video {
  position: absolute;
  top: 50%;
  left: 49%;
  min-width: 102%;
  min-height: 100%;
  width: 150%;
  height: auto;
  z-index: -100;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
/*textcenter*/
.textcenter img{
  position: relative;
  top: 9vw;
  left: 30%;
  width: 40%;
  left: 28vw;
  z-index: 50;
}
.textcenter .descenter{
  position: absolute;
  top: 30vw;
  color: white;
  font-size: 1vw;
  left: 15%;
  font-weight: 100;
  font-family: "Itim", cursive;
  font-style: normal;
  background-color: rgba(0, 0, 0, 0.336);
  padding: 1%;
  z-index: 50;
}
.textcenter a {
  position: absolute;
  display: inline-block;
  padding: 1vw 3vw;
  background-color: rgb(255, 136, 0);
  border-radius: 4rem;
  font-size: 1.8vw;
  color: rgb(0, 0, 0);
  letter-spacing: 0.3rem;
  font-weight: 600;
  transition: 0.3s ease;
  cursor: pointer;
  top: 25vw;
  left: 44.5vw;
  z-index: 50;
}
.textcenter a:hover{
  background-color: rgb(0, 0, 0);
  color: rgb(255, 136, 0);
  z-index: 50;
}
/*textcenter*/

/*sectow*/
.sectwobac{
  position: relative;
  margin-top: 20vw;
  padding: 20%;
  background-color: rgb(250, 109, 65);
  z-index: 50;
}
.sectwobac .sectword p{
  position: absolute;
  font-size: 3vw;
  top: 10%;
  left: 6%;
  background-color: rgb(231, 211, 167);
  padding: 1%;
  border-radius: 5%;
  font-family: "Itim", cursive;
  z-index: 100;
}
.sectword span{
  color: red;
  font-family: "Itim", cursive;
  font-size: 140%;
}
.secbac{
  position: absolute;
  background-color: rgb(248, 53, 53);
  z-index: 100;
  left: 0;
  width: 30%;
  padding-top: 40%;
  top: -2%;
  color:  rgb(248, 53, 53);
  z-index: -1;
  filter: drop-shadow(1vw 1vw 2vw black);
}
.sectwobac .imagesectwo img{
  width: 23vw;
  z-index: 50;
  border-radius: 5%;
  bottom: 5vw;
}
.sectwobac .imagesectwo a{
  margin-left: 3vw;
}
.sectwobac .imagesectwo img:hover{
  transform: scale(1.1);
  transition: 0.5s ease;
}
.sectwobac .imagesectwo{
  position: absolute;
  display: flex;
  z-index: 50;
  bottom: 5vw;
}
/*sectow*/
